@CHARSET "UTF-8";

#calendar_layer{
	width:20%;
	position:relative;
	padding:0;
	margin:0;
	overflow:scroll;
	float:left;
}
#calendar_layer > ul{
	width:100%;
	list-style-type:none;
	padding:0;
	margin:0;
	position:absolute;
	top:0;
	left:0;
}
#calendar_layer > ul > li{
	width:100%;
	height:70px;
	background:gray;
	text-align:center;
	border-top:1px solid black;
}
#daylist > li > span.index_year{
	font-size:0.5em;
}
#daylist > li > span.index_month{
	font-weight:bold;
}
#daylist > li > span.index_day{
	font-weight:bold;
}
#daylist > li > span.index_weekday{
	font-weight:bold;
}


#calendar_textlayer{
	width:80%;
	float:left;
	background:gray;
}
#calendar_textlayer > #dayinfo > ul{
	list-style:none;
	overflow:hidden;
	padding:0;
	margin:0;
}
#calendar_textlayer > #dayinfo > ul > li{
	float:left;
}
#calendar_textlayer > #dayinfo > ul > li:nth-child(1){
	width:10%;
}
#calendar_textlayer > #dayinfo > ul > li:nth-child(2){
	width:80%;
}
#calendar_textlayer > #dayinfo > ul > li:nth-child(3){
	width:10%;
}
#arrow_left > img{
	width:100%;
}
#arrow_right > img{
	width:100%;
}
#calendar_textlayer > #dayinfo > ul > li:nth-child(2) > div > ul{
	padding:0;
	margin:0;
}
.slick-slide{
	text-align:center;
}


.selectList{
	color:black;
}